<div class="w-full min-h-screen flex flex-col justify-between">
    {{ partial "navbar.html" . }}
    <div class="flex flex-col justify-center h-full py-12">
        <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
            <div class="w-full text-center py-12 sm:px-8">
                <h2 class="font-lora tracking-normal text-indigo-400 text-4xl mb-6">{{ i18n "wedding" . }}</h2>
                <h1 class="font-lora tracking-normal text-indigo-400 text-6xl mb-8">Luna & Nathan</h1>
                <h2 class="font-lora tracking-normal text-indigo-400 text-2xl mb-6">{{ i18n "wedding_date" . }}</h2>
            </div>
        </div>
        <div class="py-24 grid grid-cols-3">
            <div>
                <img src="/img/bathrobe_LandN.jpg" alt="">
            </div>
            <div>
                <img src="/img/woods_LandN.jpg" alt="">
            </div>
            <div>
                <img src="/img/mountain_LandN.jpg" alt="">
            </div>
        </div>
        <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
            <div class="w-full text-center pt-12 sm:px-8">
                <p class="font-lora tracking-normal text-indigo-400 text-xl">{{ i18n "wedding_message" . }}</p>
            </div>
        </div>
        <div class="flex flex-row w-full justify-center pt-12 pb-24">
            <a class="font-raleway px-10 py-2 border-4 border-indigo-400 text-indigo-400 bg-white text-lg hover:bg-indigo-400 hover:text-white hover:border-white" target="_blank" href="https://forms.gle/wKcNtRyKCHzB2FP4A">{{ i18n "rsvp" . }}</a>
        </div>
        <div class="py-12 grid grid-cols-3">
            <div>
                <img src="/img/only_lake.jpeg" alt="Small forest hut">
            </div>
            <div>
                <img src="/img/drone.jpeg" alt="Hallskog from above">
            </div>
            <div>
                <img src="/img/from_lake.jpeg" alt="Hallskog from lake">
            </div>
        </div>
    </div>
</div>
