{{ $headless := .Site.GetPage "/sections" }}
{{ $info := $headless.Resources.GetMatch (printf "*%s*" "info") }}
{{ $fts := sort ( $headless.Resources.Match "infos/*.md" ) "Params.weight" }}

<div id="info" class="w-full flex flex-col text-center items-center pt-12">
    <div class="w-full xl:w-4/5 flex flex-col pb-12 sm:flex-row flex-wrap px-4 xl:px:0">
        {{ range $fts }}
            <div class="w-full justify-center sm:w-1/2 flex flex-row flex-no-wrap px-4 sm:px-8 py-10 sm:py-20">
                <div>
                    <h3 class="font-lora font-caps text-orange-400 font-bold text-2xl mb-2">{{ .Title }}</h3>
                    <div class="flex flex-row justify-between font-raleway tracking-wide text-left font-light text-orange-400 text-lg">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
    <div class="pt-24 pb-6">
        <img src="/img/lake_sunset.jpg" alt="">
    </div>
</div>
