{{ $headless := .Site.GetPage "/sections" }}
{{ $info := $headless.Resources.GetMatch (printf "*%s*" "info") }}
{{ $fts := sort ( $headless.Resources.Match "infos/*.md" ) "Params.weight" }}

<div id="info" class="w-full flex flex-col text-center items-center pt-12">
    <div class="w-full xl:w-4/5 flex flex-col pb-12 sm:flex-row flex-wrap px-4 xl:px:0">
        {{ range $fts }}
            <div class="justify-center sm:w-1/2 flex flex-row px-4 sm:px-8 py-10 sm:py-20">
                <div>
                    <h3 class="text-center font-lora font-caps text-orange-400 font-bold text-2xl mb-2">{{ .Title }}</h3>
                    <div class="font-raleway tracking-wide font-light text-orange-400 text-lg">
                        {{ .Content }}
                    </div>
                    {{ if or (eq .Title "Overnatning") (eq .Title "Accommodation") }}
                    <br>
                    <ul>
                        <li>
                            <a class="font-raleway font-light text-blue-400 text-lg" href="https://www.ullstorp.se/">Ullstorp Cottages</a>
                        </li>
                        <li>
                            <a class="font-raleway font-light text-blue-400 text-lg" href="https://hoorsgastis.se/">Gästgifwaregård</a>
                        </li>
                        <li>
                            <a class="font-raleway font-light text-blue-400 text-lg" href="https://akersberg.se/">Stiftsgården Åkersberg</a>
                        </li>
                    </ul>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
    <div class="pt-24 pb-6">
        <img src="/img/lake_calm.jpeg" alt="Panorama of lake">
    </div>
</div>
