<nav class="w-full flex flex-col sm:flex-row justify-between items-center px-4 sm:px-6 py-1 bg-white sm:bg-transparent shadow sm:shadow-none border-t-4 border-indigo-400">
    {{ if .IsTranslated }}
    <div id="translation">
        {{ range .Translations }}
            <a class="font-raleway text-gray-500 hover:text-gray-800 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end}}
    </div>
    {{ end }}
    <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-start items-center">
        <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu"><span class="hamburger__top-bun"></span><span class="hamburger__bottom-bun"></span></button>
    </div>
    <div id="menu" class="w-full sm:w-auto sm:self-center hidden sm:flex flex-col sm:flex-row items-center h-full pb-4 sm:py-0 sm:pb-0">
        <div id="translationMenu" class="hidden">
            {{ range .Translations }}
                <a class="font-raleway text-gray-500 hover:text-gray-800 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end}}
        </div>
        <a class="font-raleway text-indigo-400 font-bold hover:text-gray-500 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" target="_blank" href="https://xn--nskeskyen-k8a.dk/share/Luna-Gyalokay_Nathan--Lunas-bryllup">{{ i18n "wishlist" . }}</a>
        <a class="font-raleway text-indigo-400 font-bold hover:text-gray-500 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" href="{{ .Permalink }}#info">Info</a>
        <a class="font-raleway text-indigo-400 font-bold hover:text-gray-500 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1" target="_blank" href="mailto:info@kuikgyalokay.com">{{ i18n "contact" . }}</a>
        <a class="font-raleway text-lg border-4 border-indigo-400 text-indigo-400 bg-white text-lg hover:bg-indigo-400 hover:text-white hover:border-white w-auto no-underline text-center px-6 py-1 my-2 sm:my-0 sm:ml-4" href="{{ .Permalink }}#speech">{{ i18n "speech_button" . }}</a>
    </div>
</nav>
